html {
  font-size: 100%;
}

body {
  background: #eee;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 11pt;
}

article {
  border 1px;
}


.title {
  font-size: 20pt;
  font-weight: bold;
}

.subhead {
  font-size: 14pt;
  font-weight: bold;
}

.date {
  color: #888;
}


