html {
  font-size: 100%;
  border-style: none;
  border-width: 2px;
  border-color: #888;
}

body {
  background: #eee;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 11pt;
  border-style: none;
  border-width: 2px;
  border-color: #888;
}

div {
  border-style: none;
  border-width: 2px;
  border-color: #888;
}

article {
  border-width: 1px;
  border-color: #333;
  border-style: none; 
  margin: 20px;

}

a:link {
  color: #555;
  text-decoration: none;
  
}

a:visited {
  color: #555;
  text-decoration: none;
  
}


a:hover {
  text-decoration: underline;
}

.title {
  font-size: 20pt;
  font-weight: bold;
}

.subhead {
  font-size: 14pt;
  font-weight: bold;

}

.date {
  color: #888;
}

#sidebar {
  float: right;
  width: 136px;
  min-height: 100%;
}

#main {
  width:100%;
  min-height: 100%;
}
