html {
  font-size: 100%;
  border-style: none;
  border-width: 2px;
  border-color: #888;
}

body {
  background: #eee;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 11pt;
  border-style: none;
  border-width: 2px;
  border-color: #888;
}

div {
  border-style: dashed;
  border-width: 0px;
  border-color: #888; 
}

article {
  border-width: 1px;
  border-color: #CCC;
  border-style: solid; 
  margin: 20px;
  padding: 0px 20px 20px 20px;
  box-shadow: 2px 2px 5px #444;
  background-color: #fff;
}

p {
  margin: 30px 0px;
}

img {
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: #aaba67;
  text-decoration: none;
  
}

a:visited {
  color: #aaba67;
  text-decoration: none;
  
}


a:hover {
  text-decoration: underline;
}

.title {
  font-size: 20pt;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  background-image: url("/images/headersharp.png");
  background-size: 100%;
  background-position: center;
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  box-shadow: 2px 2px 5px #444;

}

.titlep {
  margin: 30px
}

.subhead {
  font-size: 14pt;
  font-weight: bold;
  
}

.date {
  color: #888;
  text-align: right;
  margin: 20px;
}

.scaledimage {
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.sideimage {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #CCC;
}

.sidebartitle {
  margin: 20px;
}

.sidebarcontent {
  margin: 20px;
}

.social {
  text-align: right;
  margin: 20px;
}

#sidebar {
  float: right;
  width: 15%;
  min-height: 100%;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #CCC;
  box-shadow: 2px 2px 5px #444;
  background-color: #fff;
}

#main {
  width:85%;
  min-height: 100%;
}
