
.highlight {
  background-color: #272822;
  color: #f8f8f2;
  font-size: 10pt;
  overflow: scroll;
}

.code {
  color: #f8f8f2;
}

/* line numbers */
.l {
  color: #90908a;
  background-color: #3c3d37;
}

/* comment */
.c {
  color: #75715e;
}

/* function? */
.k {
  color: #66d9ef;
}

/* brackets () */
.p {
  color: #f92672;
}

/* argument? */
.n {
  color: #f8f8f0;
}

/* string */
.s {
  color: #fc7c21;
}

/* operator */
.o {
  color: #f92672;
}

/* import? */
.kn {
  color: #a5e22e;
}

/* thing to import */
.nn {
  color: #f8f8f2;
}

/* calling a function */
.nb {
  color: #f92672;
}

/* number? */
.mi {
  color: #8f7ee2;
} 

/* in etc. */
.ow { 
  color: #2ac1a3;
}
