<html>
  <head>
    <title>{% if page.title %}{{ page.title }} {% endif %} - Dr Owain Kenway</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css" />

  </head>

<body>

<div class="title">
<p class="titlep">{{ page.title }} - Dr Owain Kenway</p>
</div>

<div id="sidebar">
<img class="sideimage" src="/images/owain.png" />
<p class="sidebartitle">
Links:
</p>
<p class="sidebarcontent">
<ul>
<li><a href="/">Home</a></li>
<li><a href="https://twitter.com/owainkenway">Twitter</a></li>
<li><a href="https://github.com/owainkenwayucl">Github</a></li>
<li><a href="https://www.youtube.com/@owainkenway">YouTube</a></li>
<li><a href="https://www.linkedin.com/in/owain-kenway/">LinkedIn</a></li>
<li><a href="https://www.researchgate.net/profile/Owain-Kenway">ResearchGate</a></li>
<li><a href="https://iris.ucl.ac.uk/iris/browse/profile?upi=OAKEN71">UCL IRIS</a></li>

</ul>
</p>
</div>

<div id="main">
  {{ content }}
</div>

</body>

</html>
